:root {
    --black: #000000;
    --black-10: rgb(0 0 0 / 10%);
    --black-20: rgb(0 0 0 / 20%);
    --black-25: rgb(0 0 0 / 25%);
    --black-50: rgb(0 0 0 / 50%);
    --black-90: rgb(0 0 0 / 90%);
    --white: #ffffff;
    --white-30: rgb(255 255 255 / 30%);
    --white-50: rgb(255 255 255 / 50%);
    --white-70: rgb(255 255 255 / 70%);
    --white-75: rgb(255 255 255 / 75%);
    --white-80: rgb(255 255 255 / 80%);
    --white-90: rgb(255 255 255 / 90%);
    --error: #f00;
    --text-color: #575858;
    --heading: #1c1e20;
    --yellow: #fdb515;
    --outline-btn: #dcdcdc;
    
}