.cta-module {clear: both; position: relative; width: 100%; padding: 0 0 81px 0;}
.cta-wrap {justify-content: space-between; background: var(--yellow);}
.cta-lt {width: 56.666666666666664%; padding: 80px; background: var( --heading); color: var(--light-txt); position: relative;}
.cta-lt .h2 { color: var(--light-txt); font-size: 2.5rem; font-weight: 600; line-height: 1.2; margin-bottom: 24px;}
.cta-lt .h2 span::before {right: 21px; bottom: -22px; width: 209px; height: 17px; position: absolute; display: block; content: ""; background-image: url("../images/banner-heading-line.svg");}
.cta-lt .optional-text {color: var(--light-txt);}
.cta-lt p {margin-bottom: 24px;}
.cta-lt .avanta-icon {opacity: 0.1; bottom: 0; right: -106px; width: 509px; height:428px;}

.cta-rt {width: 43.18181818181818%; position: relative;}
.cta-rt .cta-thumb {display: flex; flex-wrap: wrap; height: 100%; align-items: center; width: 100%;}
.cta-rt .cta-thumb .car-bg {top: 43px;}
.cta-rt .cta-thumb .car-img {width: 377px; position: relative; z-index: 1; margin: 0 auto; top: 13px; right: -9px;}


@media only screen and (max-width:1023px) and (min-width:200px) {
.cta-lt {padding: 40px;}
.cta-lt .h2 {font-size: 2rem; line-height: 1.25; margin-bottom: 27px;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
    .cta-module .container {padding: 0;}
    .cta-lt {width: 100%; padding:37px 16px 40px;}
    .cta-lt .optional-text {margin: 0 0 26px 0;}
    .cta-lt .avanta-icon {display: none;}
    .cta-lt .h2 span::before {right:20px; bottom: -10px; width:128px; height: 12px; background-image: url("../images/banner-mobile-heading-line.svg");}
    .cta-lt p {margin-bottom: 23px;}
    .cta-rt {display: none;}
}