.faq-block {clear: both; width: 100%; padding: 49px 0; background: var(--light-txt); position: relative;}
.faq-block:before {background: var(--outline-btn); content: ""; display: block; width: 100%; height: 6px; max-width: 1090px; margin: 0 auto; position: absolute;
  top: 0; left: 0; right: 0;}
.faq-main {max-width: 1090px; margin: 0 auto;}
.faq-lt {width: 343px;}
.faq-rt {width:62.66055045871559%; margin-left: auto;}
.accordion-main {background: var(--white); border-radius: 16px; border: 1px solid var(--outline-btn)}
.accordion-main .accordion:first-child .accordion-item {border-top-left-radius: 16px; border-top-right-radius: 16px; border: 0 none;}
.accordion-main .accordion:last-child .accordion-item {border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;}
.accordion-item{position: relative; background: var(--white); border-top: 1px solid var(--outline-btn);}

.accordion-item .heading{font-size:1.063rem; font-weight: 500; padding:16px 70px 17px 77px; display: block; color:var(--text-color); text-decoration: none;}
.accordion-item .heading:after{content: ""; display:inline-block; width:28px; height:28px; background:linear-gradient(#fdb515 0 0),
    linear-gradient(#fdb515 0 0), var(--white); background-position:center; background-size: 12px 2px,2px 12px; background-repeat:no-repeat; border-radius:50%; position: absolute; left:23px; top: 15px; border: solid 1.5px var(--outline-btn); transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
.accordion-item.active .heading:after {transform: rotate(45deg); background: linear-gradient(#1A1E1F 0 0), linear-gradient(#1A1E1F 0 0), var(--white);
  background-position: center; background-size: 12px 1.5px,1.5px 12px; background-repeat: no-repeat; top: 31px;}
.accordion-item.active .heading {padding: 32px 70px 17px 77px;}

.content{display: none; padding:1px 32px 31px 77px; opacity: 0.75;}


/*-- media starts here --*/
@media only screen and (max-width: 1299px) and (min-width:1024px){
	
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
	.accordion-module-wrap {padding: 69px 0 70px; flex-direction: column-reverse;}
	
}

@media only screen and (max-width: 1023px) and (min-width:768px){
    .faq-block:before {width: calc(100% - 40px);}
}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .faq-rt {width: 100%;}
}