.faq-block {clear: both; width: 100%; padding:85px 0 80px 0; background: var(--light-txt); position: relative;}
.faq-block:before {background: var(--outline-btn); content: ""; display: block; width: 100%; height: 6px; max-width: 1090px; margin: 0 auto; position: absolute;
  top: 0; left: 0; right: 0;}
.faq-main {max-width: 1090px; margin: 0 auto;}

.faq-lt {width: 343px; color: var(--text-color);}
.faq-lt .have-questions {margin:0 0 64px 0;}
.faq-lt .have-questions h2 span:before{width: 107px; height:7px; right: 3px; bottom: -6px; position: absolute; content: ""; display: block; background-image: url("../images/faq-line.svg");}

.faq-lt h3 {margin-bottom: 24px;}
.faq-lt .optional-text {margin: 0 0 8px 0;}
.faq-lt p {margin-bottom: 24px;}
.faq-cta {background: var(--yellow); padding: 24px; position:relative; color: var(--heading);}
.faq-cta .button {width: 100%;}
.faq-cta .avanta-icon {width: 24px; height: 20.2px; display: block; margin: 0 0 24px 0; line-height: 0;}
.faq-cta .faq-cta-img {width: 244px; height: 117px; position: absolute; right: 14px; top: -39px;}

.faq-rt {width:62.66055045871559%; margin-left: auto;}
.accordion-main {background: var(--white); border-radius: 16px; border: 1px solid var(--outline-btn)}
.accordion-main .accordion:first-child .accordion-item {border-top-left-radius: 16px; border-top-right-radius: 16px; border: 0 none;}
.accordion-main .accordion:last-child .accordion-item {border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;}
.accordion-item{position: relative; background: var(--white); border-top: 1px solid var(--outline-btn);}

.accordion-item .heading{font-size:1.063rem; font-weight: 500; padding:18px 70px 20px 77px; display: block; color:var(--text-color); text-decoration: none; line-height: 1.29; position: relative;}
.accordion-item .heading:after{content: ""; display:inline-block; width:28px; height:28px; background:linear-gradient(#fdb515 0 0),
    linear-gradient(#fdb515 0 0), var(--white); background-position:center; background-size: 12px 2px,2px 12px; background-repeat:no-repeat; border-radius:50%; position: absolute; left:23px; top: 15px; border: solid 1.5px var(--outline-btn); transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
.accordion-item.active .heading:after {transform: rotate(45deg); background: linear-gradient(#1A1E1F 0 0), linear-gradient(#1A1E1F 0 0), var(--white);
  background-position: center; background-size: 12px 1.5px,1.5px 12px; background-repeat: no-repeat; top: 31px;}
.accordion-item.active .heading {padding:35px 70px 20px 77px; color: var(--heading);}

.content{display: none; padding:1px 32px 31px 77px; opacity: 0.75;}


/*-- media starts here --*/

@media only screen and (max-width: 1023px) and (min-width: 200px){
    .faq-lt {width: 100%;}
    .faq-rt {width: 100%;}
	
}

@media only screen and (max-width: 1023px) and (min-width:768px){
    .faq-block {padding: 65px 0 75px 0;}
    .faq-block:before {width: calc(100% - 40px);}
    .faq-cta .button {width: auto;}
    .faq-rt {margin: 40px 0 0 0;}
    
}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .faq-block {padding: 48px 0 39px 0;}
    .faq-block:before {width: calc(100% - 32px);}
    .faq-lt .have-questions {margin: 0 0 47px 0;}
    .faq-lt .have-questions h2 {font-size: 1.75rem; margin-bottom: 23px;}
    .faq-lt .faq-cta p {margin-bottom: 23px;}
    
    .faq-rt {margin: 31px 0 0 0;}
    .accordion-item .heading {padding: 14px 20px 16px 69px;}
    .accordion-item .heading::after, .accordion-item.active .heading::after {top: 50%; transform: translateY(-50%);}
    .accordion-item.active .heading {padding: 35px 20px 16px 69px;}
    .content {padding: 1px 20px 31px 69px;}
    .faq-lt .have-questions h2 span::before {right: 22px;}
}