.main_header {width: 100%; top: 0; left: 0; right: 0; position: fixed; z-index: 850; transition: .3s ease-in-out;}
.main_header .header {padding: 20px 80px; border-radius: 70px; border-bottom: 2px solid rgba(0, 0, 0, 0.05);  background: var(--white); margin: 54px 0 0 0; justify-content: space-between;}
.main_header .logo {width: 196px; position: relative; top: -2px;}
.main_header .logo a {width: 100%; display: block; position: relative;}

/* Header Right */
.main_header .header .toggle_button, .main_header ul li:before {display: none;}
.main_header .header-btm {display: flex; flex-wrap: wrap; justify-content: flex-end;  width: 100%; align-items: center;}
.main_header .header_right {width: calc(100% - 196px);}

.main_header .nav-btn {margin:0 0 0 14.82%; font-size: 0;}
.main_header .nav-btn a {margin-left: 11px;}
.model-overlay-hide {overflow: hidden;}

.main_header .header .nav-btn .black-btn {padding: 15px 23px 15px 24px;}
.main_header .header .nav-btn .outline-btn:after {display: none;}
.main_header .header .nav-btn .button span  {color: var(--yellow); margin-left: 10px; font-size: 13px;}

/*** Responsive ***/
@media only screen and (min-width:1024px) {
    ul.main_menu {  margin: 0; font-size: 0;}
    ul.main_menu li.flex-menu > ul > li:first-child:before, ul.main_menu li::before {display: none;}
    ul.main_menu > li {margin-left: 15px; display: inline-block; margin-bottom: 0;}
    ul.main_menu > li:nth-child(2) {margin-left: 22px;}
    ul.main_menu > li:first-child {margin-left: 0;}
    ul.main_menu > li > a {padding:5px 17px 5px 17px; font-size: 1rem; font-weight: 600; line-height: normal; display: inline-block; position: relative;
    color: var(--heading);}

    ul.main_menu > li.current-menu-item > a, 
    ul.main_menu > li.current-menu-parent > a, 
    ul.main_menu > li.current-page-ancestor > a, 
    ul.main_menu > li.menu-item-has-children > a:hover, 
    ul.main_menu .current_page_item > a, 
    ul.main_menu > li > a:hover {border-radius: 8px; background-image: linear-gradient(to bottom, #f0f0f0 0%, #fff 84%);}


    ul.main_menu > li.menu-item-has-children > a {padding-right: 41px;}
    ul.main_menu > li.menu-item-has-children > a:after {content: "\f078"; display: block; position: absolute; right:18px; font-family: "Font Awesome 6 Pro"; top: 9px; font-size: 12px; color: var(--yellow); line-height: 12px; font-weight: 900;}
    ul.main_menu > li.menu-item-has-children > a:hover:before {content: ''; position:absolute; left:0; top:30px; width:100%; height:100%; border-top:32px solid transparent;}

    ul.main_menu > li > ul {margin: 0; padding:32px; min-width: 267px; width: 100%; top: calc(100% + 30px); left: 0; position: absolute; background-color: var(--white); border-radius:0 0 13px 16px; opacity: 0; visibility: hidden; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.175,.885,.32,1.275); border: 1px solid #E9E9E9;}
    ul.main_menu > li > ul > li {margin: 0 0 12px;}
    ul.main_menu > li > ul > li:last-child {margin: 0 0 4px 0;}
    ul.main_menu > li > ul > li > a {font-size: 1.125rem; font-weight: 500; line-height: normal;}
    ul.main_menu > li > ul > li > a:hover {color: var(--yellow);}
    nav.navigation, ul.main_menu > li:hover > ul {opacity: 1; visibility: visible;}
    
    
    ul.main_menu li.flex-menu > ul { min-width:850px; width:100%; max-height: none; overflow: hidden; flex-wrap: wrap; display: flex; padding: 0; border-top: 0 none;}
    ul.main_menu li.flex-menu > ul > li {width:169.6px; border: 1px solid #E9E9E9; margin: 0;}
    ul.main_menu li.flex-menu > ul > li:last-child {border-bottom-right-radius: 13px;}
    ul.main_menu li.flex-menu > ul > li:nth-child(5n) {border-right: 0 none;}
    ul.main_menu li.flex-menu > ul > li:nth-child(5n+1) {border-left: 0 none;}
    ul.main_menu li.flex-menu > ul > li:first-child:before {display: none;}
    ul.main_menu li.flex-menu > ul > li span {display: block; line-height: 0; margin-bottom: auto;}
    ul.main_menu li.flex-menu > ul > li > a {padding: 32px; display: flex; flex-direction: column; align-items: flex-start; height: 100%; width: 100%;}
    ul.main_menu li.flex-menu > ul > li > a span svg {height: 48px; width: 48px; margin-bottom: 2px;}
    ul.main_menu li.flex-menu > ul > li > a:hover span svg path {fill:var(--yellow);}
}


@media only screen and (max-width:1480px)and (min-width:1024px) {	
	.main_header .nav-btn {margin: 0 0 0 20px;}
}


@media only screen and (max-width: 1320px) and (min-width: 1024px) {
    .main_header .header {padding: 20px 20px;}
    .main_header .logo {width: 160px;}
    .main_header .header_right {width: calc(100% - 160px);}  
}

@media only screen and (max-width: 1140px) and (min-width: 1024px) {
    .main_header .nav-btn {margin: 0;}
    .main_header .header .nav-btn .black-btn {padding: 14px 21px 14px 22px;}
    .main_header .header .nav-btn .outline-btn {padding: 12px 22px 12px 20px;}
    ul.main_menu > li > ul {padding: 20px;}
    ul.main_menu > li > a {font-size: 0.875rem; padding: 5px 12px 5px 12px;}
    ul.main_menu > li, ul.main_menu > li:nth-child(2) {margin-left: 6px;}
    
    ul.main_menu li.flex-menu > ul {min-width: 680px;}
    ul.main_menu li.flex-menu > ul > li { width: 135.6px;}
    ul.main_menu li.flex-menu > ul > li > a {padding: 20px;}
    ul.main_menu > li > ul > li > a {font-size: 0.875rem;}
    
}

@media only screen and (max-width:1023px) and (min-width:200px) {
  	.main_header .header {padding: 15px 0 12px; min-height: 80px;}
	
  	.main_header .logo {width: 168px;}
	.main_header.menu-open {background: var(--white);}
	.main_header.menu-open:after {background: rgba(0, 0, 0, 0.1);}
  	.main_header.menu-open .fixed-logo {visibility: visible; opacity: 1;}
	.main_header.menu-open .nav-btn .button {border-color: var(--violet); color: var(--violet);}
	.main_header.menu-open .nav-btn .button:hover {background: var(--violet); color: var(--white);}
	
  	.main_header .header_right.mobile_menu {display: flex; padding:105px 50px 180px; width: 100%; height: auto; top: 80px; left: 0; bottom: 0; position: fixed; background: var(--white); overflow-y: auto; -webkit-overflow-scrolling: touch; transition: .5s ease-in-out; -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; z-index: 100001; opacity: 0; visibility: hidden; margin: 0; text-align: left; overflow-x: hidden;}
	.main_header .header_right.mobile_menu:before, .main_header .header_right.mobile_menu:after {content: ""; display: block; position: absolute; left: 0; background: url("../images/dots-mobile.svg") 0 0 no-repeat; width: 761px; height: 144px; right: 0; margin: auto; top: -65px}
	.main_header .header_right.mobile_menu:after {top: inherit; bottom: 29px; margin: auto auto 0 auto;}
 	 .main_header .header_right.navOpen {opacity: 1; visibility: visible;}
	
  	.main_header .header .toggle_button {position: absolute; flex-direction: column; width: 18px; right: 25px; height: 15px; cursor: pointer; top: -3px; bottom: 0; margin: auto; display: block;} 
	.main_header .header .toggle_button span.line {width: 18px; height: 2px; margin: 0 auto; background-color: var(--white); display: block; position: absolute; top: 50%; transform: translateY(-50%); transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out;} 
    .main_header .header .toggle_button span.line2 {margin-top: 6px;} 
	.main_header .header .toggle_button span.line1 {margin-top: -6px;} 
    .main_header .header .toggle_button.active {width: 18px; background-image: none; z-index: 10001;} 
    .main_header .header .toggle_button.active span.line {width: 18px; display: block; height: 2px; background-color: var(--violet);  top: 50%; position: absolute; transform: translateY(-50%); left: 0; transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out;} 
    .main_header .header .toggle_button.active span.line1 {margin-top: 0; transform: translateY(-50%) rotate(45deg);} 
    .main_header .header .toggle_button.active span.line2 {visibility: hidden; opacity: 0;} 
    .main_header .header .toggle_button.active span.line3 {margin-top: 0; transform: translateY(-50%) rotate(-45deg);} 
	
	
	/* White/Fixed Header Toggle */
	.white_header .main_header .header .toggle_button span.line, .main_header.fixed-header .header .toggle_button span.line {background-color: var(--violet);}
	
  
	.main_header .header_right .nav-btn {display: none;}
	.main_header .nav-btn {margin: 6px 43px 0 auto;}
	.main_header .nav-btn .button {font-size: 0.938rem; border-width: 2px; padding: 7px 19px 10px 17px;}
  
  
  	.mobile_menu {padding: 0; width: 100%; display: flex; flex-wrap: wrap; flex-direction: column;} 
    .mobile_menu ul.main_menu {margin: 0; padding:0 0 3px;} 
    .mobile_menu ul.main_menu>li {display: block; margin:0 0 41px 0; text-align: center;} 
    .mobile_menu ul.main_menu>li.menu-item-has-children>a:after {content: "\f107"; font-family: 'Font Awesome 6 Pro'; font-weight: 400; font-size: 20px; display: inline-block; right: 0; top: 11px; transform: none; margin: auto; position: absolute; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; color: var(--violet);} 
    .mobile_menu ul.main_menu>li.menu-item-has-children>a.active:after {transform: rotate(180deg); color: var(--orange);} 
    .mobile_menu ul.main_menu li:before {display: none;} 
    .mobile_menu ul.main_menu>li>a {font-size: 1.25rem; padding:10px 40px 10px 40px; cursor: pointer; color: var(--violet); font-weight: 600; letter-spacing: 0.15px; position: relative;} 
    .mobile_menu ul.main_menu>li a:hover {color: var(--orange);} 
    .mobile_menu ul.main_menu li ul {display: none; margin: 0; position: relative; padding: 0 0 15px 0;} 
	.mobile_menu ul.main_menu li ul li {margin-bottom: 10px; font-weight: 500;} 

    .mobile_menu ul.main_menu li ul li a {color: var(--violet); position: relative;} 
	.mobile_menu ul.main_menu li ul li.menu-item-has-children>a {padding-right: 20px; display: block;}
	.mobile_menu ul.main_menu li ul li ul {margin: 0 !important; padding: 15px 0 1px 20px; top: inherit;}
	.mobile_menu ul.main_menu li ul li.menu-item-has-children > a::after {top: 10px;}
	.mobile_menu ul.main_menu li ul li.menu-item-has-children > a.active::after {top:7px;}
	
	.main_header .lang-nav {display: block; width: 100%; text-align: center; margin: 0 5px 0 0;}
	.main_header .lang-nav ul li {margin: 0 4.5px; width: 48px; height: 48px;}
	.main_header .lang-nav ul li a {font-size: 0.938rem; border: solid 2px rgb(34, 75, 115, 0.5); display: flex; width: 100%; height: 100%; flex-wrap: wrap; justify-content: center; align-items: center; border-radius: 50%; color: var(--text-blue); opacity: 0.5;}
	.main_header .lang-nav ul li a:hover {border: solid 2px rgb(34, 75, 115, 1); opacity: 1;}
	.main_header .lang-nav ul li a.current_language, 
	.main_header .lang-nav ul li a:hover, 
	.white_header .main_header .lang-nav ul li a.current_language, 
	.white_header .main_header .lang-nav ul li a:hover, 
	.main_header.fixed-header .lang-nav ul li a.current_language, 
	.main_header.fixed-header .lang-nav ul li a:hover {color: var(--violet); border-color: var(--violet); opacity: 1;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
	.main_header .header_right.mobile_menu:before {left: 81.5%; transform: translateX(-85.5%);}
	.main_header .header_right.mobile_menu:after {left: 50%; transform: translateX(-42.2%);}
}