#header{width: 100%; top: 0; left: 0; transition-delay: 0s; transition-duration: .5s; transition-property: transform; transition-timing-function: cubic-bezier(.075,.82,.165,1); position: fixed; z-index: 1800;}
.header-main{padding: 15px 17px 15px 38px; margin-top: 2.5rem; gap: 0 30px; border-radius: 150px; box-shadow: 0px 4px 150px 0px rgba(0, 0, 0, 0.10); background-color: var(--white);}
.scroll-nav-down{transform: translateY(-100%);}
.scroll-nav-up{transform: translateY(0);}





/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .logo{flex: 0 0 200px;}
    .logo a{width: 100%; display: block;}
    .logo img{height: 38px;}
    .navigation{flex: 1;}
    ul.nav-menu{margin: 0; gap: 0 54px; flex: 1; justify-content: flex-end;}
    ul.nav-menu > li{margin: 0;}
    ul.nav-menu > li:first-child::before{display: none;}
    ul.nav-menu > li::before{width: 4px; height: 4px; top: 50%; left: -29px; opacity: 0.9; background: var( --light-gray);}
    ul.nav-menu > li > a{padding: 16px 0; color: var(--black-90); display: block; font-size: 0.938rem; font-family: 'Montserrat', sans-serif; font-weight: 600;}
    ul.nav-menu > li > a:hover{color: var(--blue);}
    ul.nav-menu > li:hover > ul { opacity: 1; visibility: visible; top: 100%;}
    ul.nav-menu > li > ul{margin: 0; padding: 23px 36px 24px 32px; min-width: 267px; width: 100%; top: calc(100% + 5px); left: 50%; transform: translate(-50%, 0); position: absolute; background-color: var(--white); border-radius: 15px; box-shadow: 0 4px 44px 0 rgba(1, 32, 237, 0.15); opacity: 0; visibility: hidden; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.175,.885,.32,1.275);}
    ul.nav-menu > li > ul::before { content: ""; width: 0; height: 0; bottom: 100%; left: 50%; transform: translateX(-50%); border-color: transparent transparent #fff; border-style: solid; border-width: 0 6px 8px; position: absolute; }
    ul.nav-menu > li > ul > li{margin: 0 0 9px;}
    ul.nav-menu > li > ul > li.hide-nav-item{display: none;}
    ul.nav-menu > li > ul > li::before{display: none;}
    ul.nav-menu > li > ul > li > a{color: var(--black); font-size: 0.875rem; line-height: 1rem; font-family: 'Montserrat', sans-serif; font-weight: 500;}
    ul.nav-menu > li > ul > li > a:hover{color: var(--blue);}
    .nav-btn{margin-left: 9.625rem;}
    .toggle-icon{display: none;}
}
@media only screen and (max-width: 1229px) and (min-width: 1024px){
    ul.nav-menu{gap: 0 40px;}
    ul.nav-menu > li::before { left: -22px; }
    .nav-btn{margin-left: 1.875px;}
}   
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .header-main{display: block; margin-top: 1.313rem; padding: 16px 23px 17px; position: relative; } 
    .logo{max-width: 200px; position: relative; z-index: 1850;}
    .logo a{width: 100%; display: block;}
    .logo img{height: 38px;}
    .toggle-icon{width: 20px; right: 30px; top: 26px; z-index: 1850; position: absolute; cursor: pointer; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
    .toggle-icon span.line{width: 20px; height: 2px; margin-left: auto; border-radius: 0; background-color: var(--black); display: block;}
    .toggle-icon span.line2{margin-top: 6px;}
    .toggle-icon span.line3{margin-top: 6px}
    .toggle-icon.open span.line{transform: rotate(45deg) translate(5px, 5px); background-color: var(--black); transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
    .toggle-icon.open span.line2{opacity: 0;}
    .toggle-icon.open span.line3{transform: rotate(-45deg) translate(5px, -5px);}
   
    .navigation{width: calc(100% - 42px); height: auto; min-height: 100dvh; top: 20px; left: 21px; padding: 93px 47px 29px; position: fixed; z-index: 1800; background-color: var(--white); border-radius: 36px; box-shadow: 0 4px 150px 0 rgba(0, 0, 0, 0.3); overflow-y: auto; -webkit-overflow-scrolling: touch; flex-direction: column; visibility: hidden; opacity: 0; transform: scale(1.05); transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
    .navigation.open{visibility: visible; opacity: 1; transform: scale(1);}  
    ul.nav-menu{margin: 0; display: block;}
    ul.nav-menu > li{margin: 0; border-bottom: 1px solid var(--black-10);}
    ul.nav-menu > li:last-child{border-bottom: none;}
    ul.nav-menu > li::before{display: none;}
    ul.nav-menu > li > a{padding: 23px 0 22px; color: var(--black-90); display: block; font-size: 1.125rem; line-height: 1.375rem; font-family: 'Montserrat', sans-serif; font-weight: 600; position: relative;}
    ul.nav-menu > li > a:hover{color: var(--blue);}
    ul.nav-menu > li.menu-item-has-children > a::after{color: var(--blue); right: 0; top: 50%; transform: translate(0, -50%); position: absolute; content: "\2b"; font-weight: 900; font-family: "Font Awesome 6 Pro";}
    ul.nav-menu > li.menu-item-has-children > a.active::after{content: "\f068";}
    ul.nav-menu > li > ul{margin: 0; padding: 0; display: none;}
    ul.nav-menu > li > ul > li{margin: 0 0 9px;}
    ul.nav-menu > li > ul > li:first-child{padding-top: 6px;}
    ul.nav-menu > li > ul > li:last-child{padding-bottom: 18px;}
    ul.nav-menu > li > ul > li::before{display: none;}
    ul.nav-menu > li > ul > li > a{color: var(--black); font-size: 0.875rem; line-height: 1rem; font-family: 'Montserrat', sans-serif; font-weight: 500;}
    ul.nav-menu > li > ul > li > a:hover{color: var(--blue);}
    .nav-btn{margin-top: auto; text-align: center;}
}












