@import url("../css/_hero-banner.css");
@import url("../css/_faq-block.css");
@import url("../css/_cta-module.css");

@media only screen and (max-width: 767px) and (min-width: 200px){
    .hero-banner-section .hero-banner-main .hero-banner-txt {padding: 37px 16px 0 16px;}
    .hero-banner-section .hero-banner-main .hero-banner-txt h1 span svg {right: 2px; bottom: -6px; width: 128px; height: 12px;}
}