@import url("../css/_hero-banner.css");
@import url("../css/_faq-block.css");

@import url("../css/_cta-module.css");

.hero-banner-section .hero-banner-main .hero-banner-txt h1 span svg {  left: 27px; bottom: -15px;}
.cta-module{padding: 0 0 80px;}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .hero-banner-section .hero-banner-main .hero-banner-txt h1 span svg { right: 19px; bottom: -9px; width: 128px; height: 12px; left: inherit;}
    .cta-module{padding: 0;}
}