@import url("../css/_hero-banner.css");
@import url("../css/_short-intro-section.css");
@import url("../css/_repeater-section.css");


/* Tile section */
.tile-main{padding: 0 0 40px;}
.tile-row{ display: flex; flex-wrap: wrap;}
.tile-list{width: 30.89%; margin: 3% 0 0 3%;}
.tile-list:nth-child(3n+1){margin-left: 0;}
.tile-thumb{position: relative; overflow: hidden; height: 232px;  margin-bottom: 37px;}
.tile-thumb img {border-radius: 8px;}
.tile-txt h3{margin-bottom: 32px; font-size: 1.875rem;}
.tile-txt p{margin-bottom: 24px;}
