@import url("../css/_hero-banner.css");
@import url("../css/_short-intro-section.css");
@import url("../css/_repeater-section.css");


/* Tile section */
.tile-main{padding: 0 0 40px;}
.tile-list{width: 30.89%; margin: 3% 0 0 3%;}
.tile-list:nth-child(3n+1){margin-left: 0;}
.tile-thumb{position: relative; overflow: hidden; height: 232px;  margin-bottom: 37px;}
.tile-thumb img {border-radius: 8px;}
.tile-txt h3{margin-bottom: 32px; font-size: 1.875rem;}
.tile-txt p{margin-bottom: 24px;}


@media only screen and (max-width: 767px) and (min-width: 200px) {
    .tile-main{}
    .tile-row{display: block;}
    .tile-list{width: 100%; margin: 0 0 32px;}
    .tile-thumb{margin-bottom: 25px; height: auto;}
    .tile-txt h3{font-size: 1.5rem; line-height: 1.2; margin-bottom: 18px;}
    .tile-txt p{margin-bottom: 16px;}



}